---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, altText } = Astro.props;
const imageAlt = altText || title;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
		main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0 auto;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="hero-image">
					{heroImage && <img width={1020} height={510} src={heroImage} alt={imageAlt} />}
				</div>
				<div class="prose">
					<div class="title">
						<h1>{title}</h1>
								<hr />
						<div class="date mt-6 ">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
					
				
					</div>
					<slot />
				</div>
			</article>
            <a
                href="/blog"
                class="inline-block mt-8 text-base underline underline-offset-4 hover:text-accent transition-colors"
            >
                &#8592; Back to Blog
            </a>
		</main>
		<Footer />
	</body>
</html>
